<div mat-dialog-title>
  <h1>Machine Group Form</h1>
</div>
<form [formGroup]="machineGroupForm" (ngSubmit)="onFormSubmit()">

    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>hall_id</mat-label>
                <input matInput type="number" placeholder="hall_id" formControlName="hall_id">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>custom_id</mat-label>
                <input matInput type="text" placeholder="custom_id" formControlName="custom_id">
              </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>name</mat-label>
                <input matInput type="text" placeholder="name" formControlName="name">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>lead_time_days</mat-label>
                <input matInput type="number" placeholder="lead_time_days" formControlName="lead_time_days">
              </mat-form-field>
        </div>
    
        <div class="row">
            <!-- <mat-radio-group aria-label="Select an option" formControlName="auto_assign_machine">
                <mat-label><b>auto_assign_machine</b></mat-label>
                <mat-radio-button value="true">True</mat-radio-button>
                <mat-radio-button value="false">False</mat-radio-button>
              </mat-radio-group> -->

              <mat-slide-toggle formControlName="auto_assign_machine">auto_assign_machine</mat-slide-toggle>
        </div>
     
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data?'Update':'Save'}}</button>
    </div>
</form>
